.features__list {
    display: flex;
}

.features__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.features__topik:not(:last-child),
.features__text:not(:last-child),
.features__container:not(:last-child) {
    margin-right: 30px;
}

.features__topik,
.features__text {
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.features__topik {
    font-weight: bold;
    line-height: 1.14;
    max-width: 270px;
    text-transform: uppercase;
    color: var(--basic-color);
}

.features__topik--properties {
    margin-top: 30px;
}

.features__text {
    line-height: 1.71;
    max-width: 270px;
    color: var(--second-color);
}

.features__text--properties {
    margin-top: 24px;
}