.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header--properties {
    margin: 0;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__list,
.contacts__list,
.menu__page {
    display: flex;
    align-items: center;
}

.contacts__list--properties {
    margin-left: auto;
}

.contacts__list,
.menu__page {
    position: relative;
}

.menu__item:not(:last-child),
.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.menu__page--status::after {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 46px;
    content: '';
    width: 100%;
    height: 4px;

    background: var(--accent-color);
    border-radius: 2px;

    opacity: 1;
}

.menu__page,
.contacts__link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.menu__page {
    color: var(--basic-color); 
    transition-property: сolor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.contacts__link {
    color: var(--second-color);
    transition-property: сolor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__page--status {
    color: var(--accent-color);
}

.menu__page:hover,
.menu__page:focus,
.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
}

.contacts__icon {
    fill: currentColor;
    transition-property: full;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon--properties {
    margin-right: 10px;
}

.contacts__icon:hover,
.contacts__icon:focus {
    fill: var(--accent-color);
}