.logo--properties {
    margin-right: 93px;
}

.logo {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}

.logo--accent {
    color: var(--accent-color);
}

.logo--second__accent {
    color: var(--second-accent-color);
}