.we {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list--properties {
    margin-top: 50px;
}

.team-list:not(:last-child) {
    margin-right: 30px;
}

.team-list__social-list {
    display: flex;
    align-items: center;
}

.team-list__manager,
.team-list__manager-position {
    font-family: Roboto;
    letter-spacing: 0.03em;
}

.team-list__item {
    width: 270px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list__container {
    padding-top: 30px;
    padding-bottom: 16px;
}

.team-list__manager {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--basic-color);
}

.team-list__manager-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--second-color);
}

.team-list__manager-position--properties {
    margin-top: 10px;
}

.team-list__social-container {
    display: flex;
    justify-content: center
}

.team-list__social-container--properties {
    margin-bottom: 30px;
}

.team-list__social-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--second-accent-color);
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list__social-item:not(:last-child) {
    margin-right: 10px;
}

.team-list__social-icon {
    fill: #AFB1B8;
}

.team-list__social-link:hover,
.team-list__social-link:focus {
    background-color: var(--accent-color);
}

.team-list__social-link:hover .team-list__social-icon,
.team-list__social-link:focus .team-list__social-icon {
    fill: var(--second-accent-color);
}