.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title {
    @include text(36px, bold, 1.17, 0.03em);
    font-family: Roboto;
    text-align: center;
    color: var(--basic-color);
}